# Pandas
deals with  two data types
- series
- dataframes

### series
is a one dimensional dataframe ```tabular representation```

### dataframe 
multidimensional data

In [1]:
# creating a series
import pandas as pd

### import individual element
to imprort just the series function from pandas type
```python
from pandas import Series
```
makes it so that instead of running 
```python
s = pd.Series('list datatype')
```
we instead write 
```python
s = Series('list datatype')
```

In [3]:
l = (1.0, 3.2, 4.5, 6.7, 8.96, 10.99)
l

(1.0, 3.2, 4.5, 6.7, 8.96, 10.99)

In [4]:
# convert list to series
s = pd.Series(l)
s

0     1.00
1     3.20
2     4.50
3     6.70
4     8.96
5    10.99
dtype: float64

In [5]:
# number of indexes available
s.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
# type 
s.dtype

dtype('float64')

In [7]:
s.values

array([ 1.  ,  3.2 ,  4.5 ,  6.7 ,  8.96, 10.99])